{{#if showFooter}}
  <footer class="discourse-minimal-footer">
    <div class="discourse-minimal-footer-content">
      {{#if (theme-setting "footer_logo")}}
        <div class="discourse-minimal-footer-logo">
          <a
            href={{theme-setting "footer_logo_url"}}
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src={{theme-setting "footer_logo"}} />
          </a>
        </div>
      {{/if}}

      {{#if (theme-setting "footer_html_a")}}
        <p class="discourse-minimal-footer-row-a">
          {{html-safe (theme-setting "footer_html_a")}}
        </p>
      {{/if}}

      {{#if (theme-setting "footer_html_b")}}
        <p class="discourse-minimal-footer-row-b">
          {{html-safe (theme-setting "footer_html_b")}}
        </p>
      {{/if}}

      {{#if
        (or (theme-setting "show_copyright") (theme-setting "footer_html_c"))
      }}
        <p class="discourse-minimal-footer-row-c">
          {{#if (theme-setting "show_copyright")}}
            &copy;
            {{theYear}}
          {{/if}}
          {{#if (theme-setting "footer_html_c")}}
            {{html-safe (theme-setting "footer_html_c")}}
          {{/if}}
        </p>
      {{/if}}
    </div>
  </footer>
{{/if}}